body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
    justify-content: space-between;
}

.container {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo img {
    width: 272px;
    height: 92px;
}

.search-form {
    margin-top: 20px;
}

.search-box {
    width: 500px;
    height: 40px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    outline: none;
}

.buttons {
    margin-top: 20px;
}

.button {
    font-size: 14px;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #f1f3f4;
    border: 1px solid #dadce0;
}

.footer {
    width: 100%;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-top {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 20px;
    text-align: left;
}

.footer-country {
    color: #70757a;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.footer-links-left, .footer-links-right {
    display: flex;
    gap: 15px;
}

.footer-links-left a, .footer-links-right a {
    color: #5f6368;
    text-decoration: none;
}

.footer-links-left a:hover, .footer-links-right a:hover {
    text-decoration: underline;
}
